.container_img_tamble {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translate( -50%, 0%);
    bottom: -5px;
}


@media ( max-width: 768px) {
    .container_img_tamble {
        bottom: 10%;
    }
}


@media ( max-width: 434px) {
    .container_img_tamble {
        bottom: 2%;
        left: 55%;
    }
}

.container_img_tamble li {
    list-style: none;    
}

.container_img_tamble img{
    width: 80px;
    height: 50px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.445);
    border-radius: 5px;
    margin-left: -30px;
    border: 1px solid rgb(18, 18, 18);
    border-radius: 40px 0 40px 0;
}


@media ( max-width: 434px) {
    .container_img_tamble img {
        height: 40px;
        width: 70px;
        margin-left: -10px;
    }
}

.container_img_tamble img:hover {
    transition: .5s;
    transform: scale(160%);
    border: 1px solid rgba(0, 0, 255, 0.652);
    margin-left: 20px;
    margin-right: 40px;
}