.redes {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 0;
}

.redes {
    list-style: none;
    gap: 40px;
}

svg {
    margin: 20px 0px;
    font-size: 2em;
    color: rgb(255, 241, 241);
}

.github_icon svg {
    color: rgb(255, 255, 255);
}

.linkedin_icon svg {
    color: #2222d0;
}

.redes svg:hover {
    transition: .5s;
    transform: scale(130%);
}