.container_all {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.756);
    overflow: hidden;
}


.list_icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    gap: 50px;
    z-index: 0;
}


@media ( max-width: 768px) {
    .list_icons {
        display: flex;
        flex-direction: row;
        right: -5%;
        top: 5%;
    }
}



@media ( max-width: 434px) {
    .list_icons {
        gap: 30px;
    }
}

li {
    list-style: none;
}

.list_icons li {
    padding: 10px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
}

.list_icons li:hover {
    transition: .5s;
    background-color: rgb(87, 87, 87);
}

.sinopse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
}

.sinopse h1{
    margin-top: -60px;
    font-size: 2em;
    margin-bottom: 60px;
}


@media ( max-width: 434px) {
    .sinopse h1 {
        margin-bottom: 40px;
        font-size: 1.8em;
    }
}

@media ( max-width: 375px) {
    .sinopse h1 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
}

.sinopse h2 {
    margin-bottom: 20px ;
}


@media ( max-width: 375px) {
    .sinopse h2 {
        margin-bottom: 10px;
        font-size: .6em;
    }
}

.sinopse h2,
.sinopse h1,
.sinopse p {
    text-align: center;
    letter-spacing: 2px;
}

.sinopse p {
    max-width: 800px;
    line-height: 40px;
    font-size: 1.2em;
}


@media ( max-width: 768px) {
    .sinopse p{
        line-height: 35px;
        font-size: 1.2em;
        margin: 0 5%;
    }
}

@media ( max-width: 434px) {
    .sinopse p {
        font-size: 1em;
        line-height: 24px;
        margin: 0 2%;
    }
}


@media ( max-width: 375px) {
    .sinopse p {
        font-size: .8em;
    }
}

@media ( max-width: 340px) {
    .sinopse p {
        line-height: 20;
        font-size: .6em;
    }
}



.infor_dublador_ator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    color: white;
    padding: 0 80px;
    gap: 40px;
}


@media ( max-width: 768px) {
    .infor_dublador_ator {
        gap: 20px;
        padding: 0 5%;
    }
}

@media ( max-width: 434px) {
    .infor_dublador_ator {
        gap: 10px;
        padding: 0 2%;
    }
}

.infor_dublador_ator ul{
    width: 48%;
    margin-top: -40px;
 }

 
@media ( max-width: 768px){
    .infor_dublador_ator ul {
        width: 50%;
        margin-top: -80px;
    }
}

@media ( max-width: 434px){
    .infor_dublador_ator ul {
        margin-top: -30px;
    }
}


@media ( max-width: 375px){
    .infor_dublador_ator ul {
        margin-top: 0px;
    }
}

.infor_dublador_ator a {
    text-decoration: none;
    color: rgb(182, 182, 255);
}

.infor_dublador_ator a:hover {
    color: rgb(35, 81, 130);
}

.infor_dublador_ator li {
    font-size: 1em;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}


@media ( max-width: 768px) {
    .infor_dublador_ator li {
        font-size: .8em;
        margin-bottom: 50px;
    }
}


@media ( max-width: 434px) {
    .infor_dublador_ator li {
        font-size: .6em;
    }
}

.infor_dublador_ator li img{
    width: 80px;
    height: 90px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}


@media ( max-width: 434px) {
    .infor_dublador_ator li img {
        width: 50px;
        height: 60px;
    }
}

@media ( max-width: 375px) {
    .infor_dublador_ator li img {
        width: 40px;
        height: 50px;
    }
}

.infor_dublador_ator img:hover {
    border: 1px solid #235182;
    transition: .5s;
    transform: scale(110%);
}

.position_normal{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.position_reverser{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.position_normal img {
    margin-right: 5px;
}

.position_reverser img {
    margin-left: 5px;
}

.midia {
    margin-bottom: 56%; 
}

.midia iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 65%;
    transform: translateX(-50%) translateY(-50%);


    background-color: black;
    border-radius: 50px 0 50px 0;
    border: 2px solid white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.568);
}

@media ( max-width: 434px ) {
    .midia iframe {
        height: 20%;
        width: 100vw;
    }
}

@media ( max-width: 768px) {
    .midia iframe {
        top: 45%;
        height: 35%;
    }
}

@media ( max-width: 1224px) {
    .midia iframe{
        width: 90%;
    }
}

@media (  min-width: 1424px) {
    .midia iframe{
        width: 60%;
        height: 55%;
    }
}