.container_all {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.756);
    overflow: hidden;
}


.list_icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    gap: 50px;
    z-index: 0;
}

li {
    list-style: none;
}

.list_icons li {
    padding: 10px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
}

.list_icons li:hover {
    transition: .5s;
    background-color: rgb(87, 87, 87);
}

.sinopse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
}

.sinopse h1{
    margin-top: -60px;
    font-size: 2em;
    margin-bottom: 60px;
}

.sinopse h2,
.sinopse h1,
.sinopse p {
    text-align: center;
    letter-spacing: 2px;
}

.sinopse p {
    width: 800px;
    line-height: 40px;
    font-size: 1.2em;
}

.infor_dublador_ator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    color: white;
    padding: 0 80px;
    gap: 40px;
}

.infor_dublador_ator ul{
    width: 48%;
    margin-top: -40px;
 }

.infor_dublador_ator a {
    text-decoration: none;
    color: rgb(182, 182, 255);
}

.infor_dublador_ator a:hover {
    color: rgb(35, 81, 130);
}

.infor_dublador_ator li {
    font-size: 1em;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.infor_dublador_ator li img{
    width: 80px;
    height: 90px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}


.infor_dublador_ator img:hover {
    border: 1px solid #235182;
    transition: .5s;
    transform: scale(110%);
}

.position_normal{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.position_reverser{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.position_normal img {
    margin-right: 5px;
}

.position_reverser img {
    margin-left: 5px;
}

.midia {
    margin-bottom: 56%;
    
}

.midia iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 65%;
    transform: translateX(-50%) translateY(-50%);


    background-color: black;
    border-radius: 50px 0 50px 0;
    border: 2px solid white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.568);
}
