.container {
    display: flex;
    flex-direction: row;
    margin: 20px 50px;
}

.back_groud {
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

.backgound_img_1 {
    background-image: url("../img/transformers-1.jpeg");
}
.backgound_img_2 {
    background-image: url("../img/transformers-2.jpeg");
}
.backgound_img_3 {
    background-image: url("../img/transformers-3.jpeg");
}
.backgound_img_4 {
    background-image: url("../img/transformers-4.jpeg");
}
.backgound_img_5 {
    background-image: url("../img/transformers-5.jpeg");
}
.backgound_img_6 {
    background-image: url("../img/transformers-6.jpeg");
}
.backgound_img_7 {
    background-image: url("../img/transformers-7.jpeg");
}
